@import "./fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  /* background-color: #fffdf7; */
  background-image: url("/images/bg02.png");
  background-size: cover; /* Ajusta la imagen para cubrir toda la página */
  background-position: center; /* Centra la imagen en la página */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #7d5427;
  font-family: "Old Standard TT", serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
