@import "./fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  background-color: #dde0da;
}

body {
  background-image: url("/images/bg02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde0da;
  color: #7d5427;
  font-family: sans-serif;
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    background-color: #dde0da;
    background-image: none;
  }
}
