@import "./fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script&family=Style+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: scroll;
  height: 100%;
}

body {
  background-image: url("/images/bg02.png");
  background-size: cover; /* Ajusta la imagen para cubrir toda la página */
  background-position: center; /* Centra la imagen en la página */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #7d5427;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    background-color: #dde0da;
    background-image: none;
    /* background-position: 70%; */
  }
}
